* {
    box-sizing: border-box;
}

body {
    background: url("../images/p4.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #f1f9f4;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
    text-decoration: none;
    color: #a2a2a2;
}

.main-nav {
    margin-top: 5px;
}

    .logo a,
    .main-nav a {
        padding: 10px 15px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        color: #34495e;
    }

    .main-nav a {
        color: #34495e;
        font-size: .99em;
    }

        .main-nav a:hover {
            color: #718daa;
        }

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.main-nav {
    list-style-type: none;
}


@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
        list-style-type: none;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header

{
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
}

}
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navbar {
    background-color: #333;
    padding: 10px;
    color: #fff;
}

.navbar-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

    .navbar-logo img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.navbar-menu {
    display: inline-block;
    vertical-align: middle;
}

    .navbar-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navbar-menu li {
        display: inline-block;
        margin-right: 10px;
    }

        .navbar-menu li a {
            color: #fff;
            text-decoration: none;
        }

.navbar {
    background-color: #2d6a4f;
    color: #fff;
}

.container {
    margin: 20px auto;
    max-width: 786px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f1f9f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #2d6a4f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.policy {
    padding-bottom: 14px;
}

.form-label {
    font-family: 'Montserrat', sans-serif;
    color: #2d6a4f;
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.3rem;
}

.form-select,
.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

    .btn-primary:hover {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

.button-7 {
    background-color: #17a2b8;
    border-color: #17a2b8;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

    .button-7:hover,
    .button-7:focus {
        background-color: #17a2b8;
        border-color: #17a2b8;
        ;
    }

    .button-7:focus {
        box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    }

    .button-7:active {
        background-color: #17a2b8;
        border-color: #17a2b8;
        box-shadow: none;
    }

/**footer**/
.footer {
    background-color: #2d6a4f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.row {
    display: flex;
    padding: 1rem;
}

.column {
    width: calc(100% / 3);
    padding: 0 0.9375rem;
}

h4 {
    margin-bottom: 0.9375rem;
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.3rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul li {
        margin-bottom: 0.625rem;
    }

        ul li a {
            color: #333;
            font-size: 1rem;
        }

        ul li i {
            color: #00563F;
        }

        ul li a:hover {
            color: #02cc96;
        }

    ul.social-icons {
        display: flex;
        column-gap: 0.625rem;
        margin-left: 130px;
    }

.social-icons i {
    color: white;
}

ul.social-icons li {
    margin-bottom: 0rem;
}

    ul.social-icons li a {
        display: grid;
        place-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        background-color: #00563F;
    }

    ul.social-icons li:hover a {
        background-color: #16981d;
    }

.copyright {
    text-align: center;
    color: #fff;
    background-color: #008514;
    padding: 0.6rem 0;
}
/**footer ends**/